main {
    padding-top: 1rem;
    padding-bottom: 5rem;
    overflow: hidden;
}

.page__title {
    font-family: 'Roboto';
    font-weight: 200;
    color:#707070;  
    margin-top: 2rem;  

    h1 {
        font-weight: 200; 
        margin:0.5rem;
        letter-spacing:5px;
        font-size: 1.8rem;
    }

    h2 {
        font-weight: normal;
        margin:0.5rem;
        font-size: 2rem;
        letter-spacing:5px;
        
       
    }

    h3 {
        font-size: 1.4rem;
        font-weight: normal;
        margin:0.5rem;
        letter-spacing:5px;
    }

    hr {
        margin:0;
        margin-left: 0.4rem;
        width:100%;
    }

    span {
        font-weight: bold;
        &:nth-child(1) {
            color: #878C98;
        }
        &:nth-child(2) {
            color: #8C6C6C;
        }
    }
}

.page__description {
    margin-top:3rem;
    width:100%;

    p {
        margin:0.5rem;
        font-weight:200;
    }
}

.page__main {
    height:auto;

    @media only screen and (min-width:900px) {
        display:flex;
        max-width: 1200px;
    }
}

.page__projects {
    text-align: center;
    color:#707070;
    letter-spacing: 3px;

    h2 {
        font-weight: normal;
        margin:0;
    }

    p {
        font-weight: 200;
    }

    @media only screen and (min-width:900px) {
        margin-top: 6rem;

    }
}

.page__info {
    text-align: center;

    @media only screen and (min-width:900px) {
        text-align: left;
        position: relative;
        width:100%;
        margin:1rem;

    }
}

.page__fixed {
    @media only screen and (min-width:900px) {
        position: fixed;
        top:4rem;
        width:50%;
        max-width: 600px;
    }
}

.home__main {
    height:70vh;
    margin-top:3rem;
}

.home__spacer {
    height:2rem;
}

.home__imagecontainer {
    height:100%;
}

.home__hero__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: bottom;
    margin-top:3rem;
    margin-bottom:3rem;
}